<mjml>
  <mj-head>
    <mj-font name="ZurichSans" href="/fonts/zurich-font.css" />
    <mj-attributes>
      <mj-all font-family="ZurichSans, Arial"></mj-all>
      <mj-text padding="0 25px" font-size="13px"></mj-text>
      <mj-section background-color="#ffffff"></mj-section>
      <mj-class name="preheader" color="#000000" font-size="11px"></mj-class>
    </mj-attributes>

    <mj-style>
      @media (min-width: 320px) {
        .mobile-data {
          display: block;
        }

        .desktop-data {
          display: none;
        }
      }

      @media (min-width: 425px) {
        .mobile-data {
          display: none;

        }

        .desktop-data {
          display: block;
        }
      }
    </mj-style>
  </mj-head>
  <mj-body background-color="#dde4e3">
    <!-- HEADER -->
    <mj-section padding="0px">
      <mj-column width="100%" padding="0px">
        <mj-image src="cid:header-logo" alt="header image" padding="0px"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="5px" padding-top="10px">
      <mj-column>
        <mj-text align="left" line-height="25px" padding-top="50px" font-size="16px" color="#23366f">Hai, Admin</mj-text>

        <mj-text align="left" line-height="25px" padding-top="10px" font-size="16px" color="#23366f">
          Isian data kontak
        </mj-text>

        <!-- CONTENT MOBILE-->
        <mj-table css-class="mobile-data" line-height="25px" padding-top="25px" font-size="16px" color="#23366f">
          <tr>
            <td width="200px" style="padding: 0;">Nama :</td>
          </tr>
          <tr>
            <td width="140px" style="padding: 0;"><strong>Khabib Nurmagomedov<strong></td>
          </tr>

          <tr>
            <td width="10px" style="padding: 15px 0 0 0;">Email :</td>
          </tr>
          <tr>
            <td width="140px" style="padding: 0;"><strong>khabib@eagle.com<strong></td>
          </tr>

          <tr>
            <td width="10px" style="padding: 15px 0 0 0;">Telepon :</td>
          </tr>
          <tr>
            <td width="140px" style="padding: 0;"><strong>01877230099<srong>
            </td>
          </tr>

          <tr>
            <td width="10px" style="padding: 15px 0 0 0;">Pesan :</td>
          </tr>
          <tr>
            <td width="140px" style="padding: 0;"><strong>kalau mau beli mie ayam nitip<srong>
            </td>
          </tr>
        </mj-table>


        <!-- CONTENT 425 to Desktop-->
        <mj-table css-class="desktop-data" line-height="25px" padding-top="25px" font-size="16px" color="#23366f">
          <tr>
            <td width="80px" style="padding: 0;">Nama</td>
            <td width="10px" style="padding: 0;">:</td>
            <td style="padding: 0;">Khabib Nurmagomedov</td>
          </tr>

          <tr>
            <td width="80px" style="padding: 0;">Email</td>
            <td style="padding: 0;">:</td>
            <td style="padding: 0">khabib@eagle.com</td>
          </tr>
          <tr>
            <td width="80px" style="padding: 0;">Telepon </td>
            <td style="padding: 0;">:</td>
            <td style="padding: 0;">01877230099</td>
          </tr>

          <!-- <tr style="">
            <td width="" style="padding: 0; display:flex; justify-content:start;" align-item="start">Pesan </td>
            <td style="padding: 0; justify-content:start; align-self:start; align-items: start;" justify-content="start" align-item="start"></td>
            <td style="padding: 0;">kalau mau beli mie ayam nitip jangan lupa bla bljk jhjkahsjd jkj asdyhj jushhas78 787asndjh hajkshjashd </td>
          </tr> -->

        </mj-table>

        <mj-table line-height="25px" padding-top="15px" font-size="16px" color="#23366f">
          <tr>
            <td width="10px" style="padding: 15px 0 0 0;">Pesan :</td>
          </tr>
          <tr>
            <td width="140px" style="padding: 0;"><strong>kalau mau beli mie ayam nitip<srong>
            </td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>

    <mj-section padding-top="20px" padding-bottom="50px">
      <mj-column>
        <mj-text align="left" line-height="25px" font-size="16px" color="#23366f">
          Terima Kasih
        </mj-text>

      </mj-column>
    </mj-section>
    <!-- Footer -->
    <mj-section padding="0px">
      <mj-column width="100%">
        <mj-image src="cid:footer-logo" alt="footer image" padding="0px"></mj-image>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>