<mjml>
  <mj-head>
    <mj-font name="ZurichSans" href="/fonts/zurich-font.css" />
    <mj-attributes>
      <mj-all font-family="ZurichSans, Arial"></mj-all>
      <mj-text padding="0 25px" font-size="13px"></mj-text>
      <mj-section background-color="#ffffff"></mj-section>
      <mj-class name="preheader" color="#000000" font-size="11px"></mj-class>
    </mj-attributes>

  </mj-head>
  <mj-body background-color="#dde4e3">
    <!-- HEADER -->
    <mj-section padding="0px">
      <mj-column width="100%" padding="0px">
        <mj-image src="cid:header-logo" alt="header image" padding="0px"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="5px" padding-top="10px">
      <mj-column>
        <mj-text align="left" line-height="25px" padding-top="50px" font-size="16px" color="#23366f">Hi, Ahmad Mustofa</mj-text>

        <mj-text align="left" line-height="25px" padding-top="25px" font-size="16px" color="#23366f">
          Silakan atur ulang kata sandi akun <strong>BarengZurich</strong> kamu melalui link di bawah :
        </mj-text>

      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column padding-left="20px" padding-right="20px" width="100%">
        <mj-button target="_blank" href="https://zurich-frontsite.d.logique.co.id/reset-password?token=HM3UmNBJI5iPWggcXRoEg
" border-radius="10px" padding="3px" font-size="16px" align="left" background-color="#19bab6">
          Atur Kata Sandi
        </mj-button>
      </mj-column>
    </mj-section>

    <mj-section padding-top="12px" padding-bottom="50px">
      <mj-column>
        <mj-text font-style="italic" align="left" line-height="25px" font-size="16px" color="#23366f">
          *Link tersebut akan habis masa berlakunya dan tidak dapat digunakan kembali dalam waktu 10 menit.
        </mj-text>
        <mj-text padding-top="20px" align="left" line-height="25px" font-size="16px" color="#23366f">
          Terima Kasih.
        </mj-text>
      </mj-column>
    </mj-section>
    <!-- Footer -->
    <mj-section padding="0px">
      <mj-column width="100%">
        <mj-image src="cid:footer-logo" alt="header image" padding="0px"></mj-image>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>